<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="post">
      <fieldset>
        <legend>Create a new user.</legend>
        <ul>
          <li>
            <label for="msgUser" aria-required="true">*Name:</label>
            <input type="text" id="msgUser" name="msgUser" />
          </li>
          <li>
            <label for="msg" aria-required="true">*Message:</label>
            <input type="text" id="msg" name="msg" />
          </li>
        </ul>
      </fieldset>
      <button>Submit</button>
    </form>
  </body>
</html>
