<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="new-msg-wrapper">
      <h1 class="msg-form-h1"><%= title %></h1>
      <form action="/new" method="post" class="new-msg-form">
        <fieldset>
          <legend>Post a message to the board.</legend>
          <ul>
            <li>
              <label for="msgUser" aria-required="true">*Name:</label>
              <input type="text" id="msgUser" name="msgUser" />
            </li>
            <li>
              <label for="msg" aria-required="true">*Message:</label>
              <input type="text" id="msg" name="msg" />
            </li>
          </ul>
        </fieldset>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
